@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
$main: #21222c;
$accent: #f85712;
$green: #4fc08d;
$dark: #273849;
$light: #f6f6f6;

$padding: 0 15px;
$radius-lg: 30px;
$radius-md: 15px;
$radius-sm: 5px;
$shadow: 0 3px 30px 5px rgba(100, 100, 100, .2);